<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <listeners>
		<listener class-name="com.demowebshop.listeners.DemoWebshopListener"/>
  </listeners>

  <test thread-count="5" name="Test">
  	<classes>
  		<class name="com.demowebshop.testcases.LoginTest"/>
  	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
